
#root{
   --color-income: #4CAF50;
  --color-expense: #757575;
  --color-neutral: #777777;
  --color-bg-light: #FAFAFA;
  --color-bg-card: #F0F0F0;
  --color-text-main: #212121;
  --color-text-secondary: #474747;

  background-color: var(--color-bg-light);
  color: var(--color-text-main);
  min-height: 100vh;


  .txt-secondary {
    color : var(--color-text-secondary)
  }
  .neutral {
    background-color: var(--color-neutral);
    border : none;
  }

  .text-light {
    color: var(--color-bg-light);
  }
  
  .title, .subtitle{
    font-size: 18px;
  }

  @media (min-width: 500px) {
    .title, .subtitle{
      font-size: 24px;
    }
  }

  @media (min-width: 768px) {
    .title{
      font-size: 30px;
    }
  }
 

}